<!DOCTYPE html>
<html>
	<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Keen Kamps</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
		<script src="/javascripts/landing.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
	<body>
        <div id="landing-header">
			<h1>Welcome to Keen Kamps!</h1>
				<a href="/campgrounds" class="btn btn-xs btn-info">
					<h1 class="ml15">
					  <span class="word">&nbsp;View</span>
					  <span class="word">Kamps&nbsp;</span>
					</h1>
				</a>
			</h1>
    	</div>
		<ul class="slideshow">
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		</ul>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</html>