.small-link {
	font-family: arial;	
	font-size: 10pt;
	text-align: center;
}

.thumbnail {
	padding: 0;
}
.thumbnail img {
	width: 100%;
}

.form-inline {
	display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}